@import "tailwindcss";

@theme {
  --color-clinical-bg: #090e14;
  --color-clinical-cyan: #0ea5e9;
  --color-clinical-teal: #0d9488;
  --color-clinical-success: #10b981;
  --color-clinical-collision: #ef4444;
}

body {
  @apply bg-clinical-bg text-slate-100;
}
